@model WebApplication1.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>createEmplotee</title>
</head>
<body>
    <div> 
        <form action="" method="post">

        </form>

    </div>
</body>
</html>
